#!/usr/bin/env xdg-open
[Desktop Entry]
Name=IGV
Exec="/home/nsheff/code/env/bin/igv.sh"
Icon=/home/nsheff/Dropbox/science_media/logo/igv-logo.svg
Type=Application