[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=inkscape
Icon=inkscape.svg
Comment=Inkscape vector graphics software
Exec="bulker run databio/nsheff inkscape $HOME/.config/inkscape/templates/figures.svg"
Terminal=false
