#!/usr/bin/env xdg-open
[Desktop Entry]
Name=jabref
Exec="/home/nsheff/code/env/bin/jabref.sh"
Icon=/home/nsheff/Dropbox/science_media/logo/JabRef_Icon.svg
Type=Application